.ThemeVistaSubMenu {
	background: transparent;
	border: 1px solid #3A3A3A;
}
.ThemeVistaSubMenuTable {
	width: 200px;
	padding: 0px;
	cursor: default;
	background-color: #8080FF;
	border: 0px;
}
.ThemeVistaSubMenuTable tr {
	padding: 0px;
	margin: 0px;
}
.ThemeVistaMenuItemHover .ThemeVistaMenuItemLeft, .ThemeVistaMenuItemActive .ThemeVistaMenuItemLeft {
	background-image: url(ThemeVista11.png);
	background-repeat: repeat-x;
	background-color: #C5E9FB;
	width: 24px;
	cursor: pointer;
	border-bottom: 1px solid #B7E7FC;
	border-left: 1px solid #B7E7FC;
	border-top: 1px solid #B7E7FC;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMenuItemHover .ThemeVistaMenuItemText, .ThemeVistaMenuItemActive .ThemeVistaMenuItemText, .ThemeVistaMenuItemHover .ThemeVistaMenuItemText a, .ThemeVistaMenuItemActive .ThemeVistaMenuItemText a {
	background-image: url(ThemeVista11.png);
	background-repeat: repeat-x;
	background-color: #C5E9FB;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #B7E7FC;
	border-top: 1px solid #B7E7FC;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeVistaMenuItemHover .ThemeVistaMenuItemRight, .ThemeVistaMenuItemActive .ThemeVistaMenuItemRight {
	background-image: url(ThemeVista11.png);
	background-repeat: repeat-x;
	background-color: #C5E9FB;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #B7E7FC;
	border-right: 1px solid #B7E7FC;
	border-top: 1px solid #B7E7FC;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMenuItemHover .ThemeVistaMenuFolderLeft, .ThemeVistaMenuItemActive .ThemeVistaMenuFolderLeft {
	background-image: url(ThemeVista8.png);
	background-repeat: repeat-x;
	background-color: #C5E9FB;
	width: 24px;
	cursor: pointer;
	border-bottom: 1px solid #B7E7FC;
	border-left: 1px solid #B7E7FC;
	border-top: 1px solid #B7E7FC;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMenuItemHover .ThemeVistaMenuFolderText, .ThemeVistaMenuItemActive .ThemeVistaMenuFolderText, .ThemeVistaMenuItemHover .ThemeVistaMenuFolderText a, .ThemeVistaMenuItemActive .ThemeVistaMenuFolderText a {
	background-image: url(ThemeVista10.png);
	background-repeat: repeat-x;
	background-color: #C5E9FB;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #B7E7FC;
	border-top: 1px solid #B7E7FC;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeVistaMenuItemHover .ThemeVistaMenuFolderRight, .ThemeVistaMenuItemActive .ThemeVistaMenuFolderRight {
	background-image: url(ThemeVista9.png);
	background-repeat: repeat-x;
	background-color: #C5E9FB;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #B7E7FC;
	border-right: 1px solid #B7E7FC;
	border-top: 1px solid #B7E7FC;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMenuItem .ThemeVistaMenuItemLeft {
	background-color: #EBEBEB;
	width: 24px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMenuItem .ThemeVistaMenuItemText, .ThemeVistaMenuItem .ThemeVistaMenuItemText a {
	background-color: #FFFFFF;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeVistaMenuItem .ThemeVistaMenuItemRight {
	background-color: #FFFFFF;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMenuItem .ThemeVistaMenuFolderLeft {
	background-color: #EBEBEB;
	width: 24px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMenuItem .ThemeVistaMenuFolderText, .ThemeVistaMenuItem .ThemeVistaMenuFolderText a {
	background-color: #FFFFFF;
	text-indent: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeVistaMenuItem .ThemeVistaMenuFolderRight {
	background-image: url(ThemeVista7.png);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	background-position: 0px 0px;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMenu {
	width: 47px;
	padding: 0;
	background-color: #000000;
}
.ThemeVistaMenuOuter {
	background-color: transparent;
	border: 1px solid #484A4C;
}
.ThemeVistaMenu tr {
	padding: 0px;
	margin: 0px;
	width: 47px;
}
.ThemeVistaMainItemHover .ThemeVistaMainItemLeft, .ThemeVistaMainItemActive .ThemeVistaMainItemLeft {
	background-image: url(ThemeVista5.png);
	background-repeat: repeat-x;
	background-color: #4781B5;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #434546;
	border-left: 1px solid #434546;
	border-top: 1px solid #434546;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMainItemHover .ThemeVistaMainItemText, .ThemeVistaMainItemActive .ThemeVistaMainItemText, .ThemeVistaMainItemHover .ThemeVistaMainItemText a, .ThemeVistaMainItemActive .ThemeVistaMainItemText a {
	background-image: url(ThemeVista5.png);
	background-repeat: repeat-x;
	background-color: #4781B5;
	text-indent: 0px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #434546;
	border-top: 1px solid #434546;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeVistaMainItemHover .ThemeVistaMainItemRight, .ThemeVistaMainItemActive .ThemeVistaMainItemRight {
	background-image: url(ThemeVista5.png);
	background-repeat: repeat-x;
	background-color: #4781B5;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #434546;
	border-right: 1px solid #434546;
	border-top: 1px solid #434546;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMainItemHover .ThemeVistaMainFolderLeft, .ThemeVistaMainItemActive .ThemeVistaMainFolderLeft {
	background-image: url(ThemeVista2.png);
	background-repeat: repeat-x;
	background-color: #4781B5;
	width: 14px;
	cursor: pointer;
	border-bottom: 1px solid #434546;
	border-left: 1px solid #434546;
	border-top: 1px solid #434546;
	border-right: 0px;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMainItemHover .ThemeVistaMainFolderText, .ThemeVistaMainItemActive .ThemeVistaMainFolderText, .ThemeVistaMainItemHover .ThemeVistaMainFolderText a, .ThemeVistaMainItemActive .ThemeVistaMainFolderText a {
	background-image: url(ThemeVista2.png);
	background-repeat: repeat-x;
	background-color: #4781B5;
	text-indent: 0px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px solid #434546;
	border-top: 1px solid #434546;
	border-right: 0px;
	border-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeVistaMainItemHover .ThemeVistaMainFolderRight, .ThemeVistaMainItemActive .ThemeVistaMainFolderRight {
	background-image: url(ThemeVista2.png);
	background-repeat: repeat-x;
	background-color: #4781B5;
	width: 11px;
	cursor: pointer;
	border-bottom: 1px solid #434546;
	border-right: 1px solid #434546;
	border-top: 1px solid #434546;
	border-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMainItem .ThemeVistaMainItemLeft {
	background-image: url(ThemeVista4.png);
	background-repeat: repeat-x;
	background-color: #010101;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMainItem .ThemeVistaMainItemText, .ThemeVistaMainItem .ThemeVistaMainItemText a {
	background-image: url(ThemeVista4.png);
	background-repeat: repeat-x;
	background-color: #010101;
	text-indent: 0px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeVistaMainItem .ThemeVistaMainItemRight {
	background-image: url(ThemeVista4.png);
	background-repeat: repeat-x;
	background-color: #010101;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMainItem .ThemeVistaMainFolderLeft {
	background-image: url(ThemeVista1.png);
	background-repeat: repeat-x;
	background-color: #010101;
	width: 14px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaMainItem .ThemeVistaMainFolderText, .ThemeVistaMainItem .ThemeVistaMainFolderText a {
	background-image: url(ThemeVista1.png);
	background-repeat: repeat-x;
	background-color: #010101;
	text-indent: 0px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	margin: 0px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	vertical-align: middle;
}
.ThemeVistaMainItem .ThemeVistaMainFolderRight {
	background-image: url(ThemeVista1.png);
	background-repeat: repeat-x;
	background-color: #010101;
	width: 11px;
	cursor: pointer;
	border-bottom: 0px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	padding-top: 1px;
	padding-left: 0px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-indent: 0px;
	font-size: 1pt;
}
.ThemeVistaSubMenu TD, .ThemeVistaMenu TD, .ThemeVistaMenu TR {
	vertical-align: middle;
}
.ThemeVistaMenuSplitRight DIV, .ThemeVistaMenuSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #000000;
	overflow: hidden;
}
.ThemeVistaMenuItem .ThemeVistaMenuSplitLeft {
	background-color: #EFEBDE;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeVistaMenuItem .ThemeVistaMenuSplitText {
	background-color: #FFFFFF;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeVistaMenuItem .ThemeVistaMenuSplitRight {
	background-color: #FFFFFF;
	height: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeVistaMainSplitRight DIV, .ThemeVistaMainSplitText DIV {
	height: 1px;
	padding: 0px;
	background-color: #071D83;
	overflow: hidden;
}
.ThemeVistaMainItem .ThemeVistaMainSplitLeft {
	background-image: url(ThemeVista6.png);
	background-repeat: repeat-x;
	background-color: #010101;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ThemeVistaMainItem .ThemeVistaMainSplitText {
	background-image: url(ThemeVista6.png);
	background-repeat: repeat-x;
	background-color: #010101;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}
.ThemeVistaMainItem .ThemeVistaMainSplitRight {
	background-image: url(ThemeVista6.png);
	background-repeat: repeat-x;
	background-color: #010101;
	height: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
}
.ThemeVistaMainItem {
	vertical-align: middle;
}
.ThemeVistaHorizontalSplit {
	border-right: 0px solid #8080FF;
	border-left: 0px solid #8080FF;
	width: 10px;
	background-image: url(ThemeVista3.png);
	background-repeat: repeat-x;
	background-color: #010101;
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	font-family: serif;
	font-style: normal;
	font-weight: bolder;
}
.ThemeVistaMenuItem img.seq1, .ThemeVistaMainItem img.seq1, .ThemeVistaMenuItemHover seq2, .ThemeVistaMenuItemActive seq2, .ThemeVistaMainItemHover seq2, .ThemeVistaMainItemActive seq2 {
	display: inline;
}
.ThemeVistaMenuItem .seq2, .ThemeVistaMenuItemHover .seq1, .ThemeVistaMenuItemActive .seq1, .ThemeVistaMainItem .seq2, .ThemeVistaMainItemHover .seq1, .ThemeVistaMainItemActive .seq1 {
	display: none;
}
.ThemeVistaMainItem, .ThemeVistaMainItemHover, .ThemeVistaMainItemActive, .ThemeVistaMenuItem, .ThemeVistaMenuItemHover, .ThemeVistaMenuItemActive {
	white-space: nowrap;
}
.themeSpacerDiv {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1pt;
}
.ThemeVistaSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: visible;
	z-index: 100;
}
